html,body{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111111;
    font-style: none;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
    display: flex;
    flex-direction: column;
    /* margin: 0 100px; */
    /* align-items: center; */
}
.header{
    width: 100%;
    /* height: 1vh; */
}
.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    border-bottom: 1px solid #1111;
}
.nav, .nav-icon{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: flex-end; */
}
.nav{
    margin-top: 10px;
}
.nav-icon li a:hover img{
    /* width:  100%; */
    width: auto;
    height: 100%;
}
.header .logo h1{
    font-weight: 900;
    text-align: center;
}
.head .nav li a{
    padding: 0 1em;
}
.head .nav-icon li a{
    padding: 0 .5em;
}

.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10%;
}
.header-content .header-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.header-content .header-content-left h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.5em;
}
.header-content .header-content-left h1 b{
    font-weight: 500;
}
.header-content .header-content-left .text-bottom{
    font-weight: 800;
    font-size: 3em;
}
.header-content .header-content-left a{
    /* padding: .5em 1em; */
    margin-top: 2.5em;
    width: 40%;
    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.header-content .header-content-left a img{
    margin-left: 1.3em;
    width: auto;
    height: 70%;
}
.header-content .header-content-left a:hover img{
    margin-left: 1.9em;
}
.header-content .header-content-right img{
    /* height: 80%; */
    width: auto;
}

/* Services CSS */
.services{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-bottom: 2em;
}
.services_oferred_header{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 3em;
}
.services_oferred_header h1{
    margin-top: -1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: #000;
    color: #ffffff;
    display: inline-block;
    /* width: 30%; */
    padding: 7px;
    font-size: 1.5em;
    align-items: flex-end;
    width: 40%;
}
.services_oferred_header h1::before{
    position: absolute;
    /* background-color: #000; */
    /* width: 100px;
    height: 100px; */
    margin-top: 35px;
    margin-right: -1em;
    content: "";
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    border-width: 10px;
}
.services_left{
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
}
.services_left img{
    width: 80%;
    height: auto;
}
